
.nav{
display: flex;
justify-content: space-between;
background-color: black;
padding: 10px;
color: white;
@media (min-width: 768px) {
  display: flex;
  align-items: center;
}
}
.nav__menu-text{
  display: none;
  @media (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      gap: 15px; }
  }
.nav__logo{
  width: 15%;
  height: auto;
  object-fit: contain;
}
.nav__menu-icono{
  width: 3%;
  height: auto;
  object-fit: contain;
  @media (min-width: 768px) { 
    display: none;}
}

/* style header */
.header {
  background-color: #519CF0;
  max-height: 120vh;
  padding-inline: 20px;
  padding-top: 100px;
  padding-bottom: 30px;
  color: white;
}


h1 {
  font-size: 55px;
  margin-bottom: 30px;
}
h3 {
  font-size: 28px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.header__btn {
  display: flex;
  justify-content: center;
  background-color: #26B658;
  padding: 12px;
  color: white;
  border-radius: 25px;
  text-decoration: none;
  margin-bottom: 20PX;
  @media (min-width: 768px){
    max-width: max-content;
    display: inline-block;
    padding-inline: 10%;

  }
}
.header__btn:hover {
  background-color: darkblue;}
 
    /*header tablet*/
@media (min-width: 768px) {
    .header {
    max-height: 80vh;
    background-image: url("../images/premium_dancer.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
} }