@use '../core/variables' as vars;

main {
    padding-inline: 25px;
}


h2 {
    text-align: center;
    font-size: 35px;
    padding-inline: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.main__section-container {
    @media (min-width: 768px) {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    @media (min-width: 1000px) {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        padding: 0;
        margin: 0;
    }
}

.main__section-container-article {
    @media (min-width: 768px) {
        display: flex;
        justify-content: left;
        gap: 15px; 
        padding-left: 5%;}

        @media (min-width: 1000px) {
            display: grid;
            grid-template-rows: 1fr 1fr;
            justify-items: center;
            text-align: center;
        }
}

.main__icono {
    max-width: 75px;
    height: auto;
    object-fit: contain;
    margin-top: -10px;

    @media (min-width: 768px) {
        max-width: 100px;
    }

    @media (min-width: 1000px) {
        max-width: 150px;
    }
}

article{
    display: flex;
    padding-block: 30px;
    
}

.info{
    margin-left: 30px;
    line-height: 2;
}

h4 {
    font-size: 22px;
}

.ilegible {
    font-size: 12px;
}

