<nav class="nav">
  <img src="./images/logo.png" alt="logo-spotify" class="nav__logo">
  
  <div class="nav__menu-text">
      <p><b>Premium</b></p>
      <p><b>Ayuda</b></p>
      <p><b>Descargar</b></p>
      <p><b>|</b></p>
      <p><b>Registrarse</b></p>
      <p><b>Iniciar sesión</b></p>
  </div>
  <img src="./images/menu-icon.png" alt="menu" class="nav__menu-icono">
</nav>

<header class="header">
  <h1><b>Prueba Premium gratis 3 meses</b></h1>
  <h3>Escuchas millones de canciones sin anuncios, a la carta y sin conexión.</h3>
  <a href="#" class="header__btn"><b>VER PLANES</b></a>
  <p class="ilegible">Rigen términos y condiciones. Los tres meses gratis no están disponibles para usuarios que ya hayan probado premium. </p>

</header>